/* Styles for desktop and larger screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #000;
    color: white;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 100px;
}

.logo h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 15px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    border-radius: 8px;
}

.menu li.active a {
    background-color: #B01E1E;
}

.menu a:hover {
    background-color: #b01e1e;
}

.main-content {
    flex-grow: 1;
    /* padding: 20px; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-left: 15px;
}

.icon-menu {
    font-size: 2rem;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap; /* Wrap the stat boxes on smaller screens */
}

.stat-box {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stat-box h3 {
    font-size: 3rem;
    color: #E74C3C;
}

.stat-box p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -250px; /* Hidden off screen */
        top: 0;
        width: 250px;
        height: 100vh;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .sidebar.show {
        left: 0; /* Show sidebar */
    }

    .icon-menu {
        font-size: 2rem;
        cursor: pointer;
    }
}

/* Overlay to darken background when sidebar is active */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.overlay.show {
    display: block;
}


/* Even smaller screens */
@media (max-width: 480px) {
    .logo img {
        width: 60px;
    }

    .logo h2 {
        font-size: 1rem;
    }

    .menu a {
        font-size: 0.9rem;
    }

    .stat-box h3 {
        font-size: 2rem;
    }

    .stat-box p {
        font-size: 1rem;
    }
}
